.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 30px;
  background-color: #595959;
  opacity: 1;
  display: flex;
}

.flex {
  display: flex;
}

@media only screen and (max-width: 560px) {
  .screen-container {
    flex-direction: column;
    overflow: hidden;
  }
}